/* general style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout SPOTIFY */
.spotify{
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

.content{
  display: flex;
  flex-grow: 1;
  flex-basis: 300px;
}

/* utility */
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

/* vertical navbar */
.menu-left{
  display: flex;
  flex-direction: column;
  background-color: #000000;
  flex-basis: 200px;
  padding: 20px 20px 0px;
}

.navbar{
  flex-grow: 1;
}

/* logo */
.navbar img{
  width: 80%;
}

/* lista navbar */
.list-navbar{
  padding: 20px 0px;
}

.list-navbar img{
  width: 15%;
}

.list-navbar a img{
  margin-right: 5px;
  margin-top: 5px;
}

/* playlist */
.playlist li{
  margin-top: 15px;
}

.navbar h3{
  text-transform: uppercase;
}

.fa-plus-square{
  vertical-align: middle;
  padding-right: 10px;
}

/* account */
.account{
  display: flex;
  flex-direction: column;
}

.account img{
  width: 15%;
  vertical-align: middle;
}

.account:first-child {
  border: 1px solid red;
}

.profile{
  content: "";
  display: block;
  width: 15%;
  height: 100px;
  background-color: grey;
}
.selection::after{
  content: "";
  display: block;
  height: 1px;
  background-color: #808080;
}
/* .account{
  height: 50px;
  background-color: red;
} */
/*
.choose{
  background-color: black;
  flex-grow: 1;
  position: relative;
} */

/* .upgrade{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: yellow;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
} */

/* .main-choose{
  width: 100%;
  height: 100%;
  padding: 60px 5px;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
} */

/* button{
  width: 100px;
  height: 30px;
  align-self: center;
} */

/* .main-menu{
  display: flex;
  width: 95%;
  height: 60px;
  background-color: green;
  margin: 0 auto;
  justify-content: center;
} */
/*
.tracks{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
} */

/* .tracks2{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
} */

/* .tracks3{
  display: flex;
  margin-bottom: 20px;
} */

/* .tracks2 .box{
  margin-right: 100px;
} */

/* .tracks3 .box{
  margin-right: 100px;
} */

/* .box{
  width: 100px;
  height: 100px;
  background-color: pink;
} */

/* footer{
  display: flex;
  padding: 40px 0px;
  background-color: darkgrey;
  justify-content: space-between;
} */

/* .ico{
  width: 200px;
  height: 40px;
  background-color: white;
} */

/* .play{
  width: 200px;
  height: 40px;
  background-color: white;
} */

/* .setting{
  width: 200px;
  height: 40px;
  background-color: white;
} */
